.navbar{
    background-color: #364999;
    padding: 10px 50px;
}
.navbar-brand img{
    height: 40px;
}
.nav-link{
    transition: color .15s
    ease-in-out,background-color .15s;
}
.nav-active{
    background-color: #2D3F91;
}
.nav-link:hover{
    color: white;
    background-color: #2D3F91;
}
.btn-outline-search{
    color: white;
    background-color: transparent;
    border: black;
    padding: 0px 6px;
}
.btn-outline-search span{
    font-size: 2rem;
}

.btn-outline-search:hover{
    background-color: #2D3F91;
}

@media only screen and (max-width: 500px){
    .navbar-brand img{
        height: 25px;
    }
}