.confirmations{
    margin: auto;
    width: 90%;
}
.qr-address{
    height: auto;
    margin: 10px;
    text-align: right;
}
.addr-active-btn{
    color: white;
    font-weight: bold;
    background-color: #707070;
}
.addr-disabled-btn{
    font-weight: bold;
    color: white;
    background-color: #A0A0A0;
}

@media only screen and (max-width: 991px){
    .page-section{
        margin: 25px 25px;
    }
    .block-information{
        margin: 0;
    }
}