.home-table{
    max-height: 400px;
}
.thead-block{
    background-color: #364999;
    color: white;
}
.thead-tx{
    background-color: #5A297F;
    color: white;
}
.tbody-block a{
    color: #364999;
    text-decoration: none;
}
.tbody-tx a{
    color: #5A297F;
    text-decoration: none;
}
.tbody-block a:hover{
    color: rgb(14, 33, 113);
}
.tbody-tx a:hover{
    color: rgb(50, 0, 77);
}
.btn-all-blocks{
    font-family: 'All Round Gothic';
    color: white;
    background-color: #00bf00;
}

@media only screen and (max-width: 991px){
    .tables-container{
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
    }
}