# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

#macOS
.DS_Store

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Goland
.idea/

# Production
ogen
ogen-cli
ogen-darwin*
ogen-windows*
ogen-linux*
datadir*
coverage*
*_test.dat
db/blocks
build/
vendor/
chain*.json
__debug_bin
release/
*.tar.gz