<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">

    <title>Address PK3PyPNEqoyq3845YAcGTAQst1fpet2jVz</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="shortcut icon" href="../static/img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="../static/img/favicon.ico" type="image/x-icon">
    <!-- DataTables // Jquery // Bootstrap -->
    <link rel="stylesheet" type="text/css"
        href="https://cdn.datatables.net/v/bs4-4.1.1/jq-3.3.1/dt-1.10.20/r-2.2.3/datatables.min.css" />
    <script type="text/javascript"
        src="https://cdn.datatables.net/v/bs4-4.1.1/jq-3.3.1/dt-1.10.20/r-2.2.3/datatables.min.js"></script>
    <!-- Styles -->
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="stylesheet" href="../static/css/navbar.css">
    <link rel="stylesheet" href="../static/css/dashboard.css">
    <link rel="stylesheet" href="../static/css/home.css">
    <link rel="stylesheet" href="../static/css/footer.css">
    <!-- Page Styles -->
    <link rel="stylesheet" href="../static/css/blocks.css">
    <link rel="stylesheet" href="../static/css/block.css">
    <link rel="stylesheet" href="../static/css/transaction.css">
    <link rel="stylesheet" href="../static/css/address.css">
</head>

<body>
    <!-- Header -->
    <header>
        <!-- Navbar -->
        <nav class="navbar sticky-top navbar-expand-lg navbar-dark">
            <a class="navbar-brand" href="/">
                <img src="../static/img/logo.png" alt="Olympus" />
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarToggler">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/blocks">Blocks</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search"
                        placeholder="Search for block, transaction or address" aria-label="Search" />
                    <button class="btn btn-outline-search my-2 my-sm-0">
                        <span class="FA-icon-regular">search</span>
                    </button>
                </form>
            </div>
        </nav>
    </header>

    <!-- Main -->
    <main>
        <section class="page-section">
            <!-- Block and Hash-->
            <div class="block-basic-info">
                <b>Address <span class="block-number ellipsis">954.799918 POLIS</span></b>
                <div class="block-hash">
                    <p class="contain-text">PK3PyPNEqoyq3845YAcGTAQst1fpet2jVz</p>
                </div>
            </div>
            <!-- Block Information -->
            <div class="block-information">
                <!-- Confirmed -->
                <div class="confirmations">
                    <div class="summary">
                        <h3>Confirmed</h3>
                        <!-- Summary Table -->
                        <div class="row summary-table">
                            <div class="col">
                                <div class="row info-row">
                                    <div class="col">Total Received</div>
                                    <div class="col summary-data"> 81,006.6933379 POLIS</div>
                                </div>
                                <div class="row info-row">
                                    <div class="col">Total Sent</div>
                                    <div class="col summary-data">80,051.8934199 POLIS</div>
                                </div>
                                <div class="row info-row">
                                    <div class="col">Find Balance</div>
                                    <div class="col summary-data">954.799918 POLIS</div>
                                </div>
                                <div class="row info-row">
                                    <div class="col">No. Transactions</div>
                                    <div class="col summary-data">120</div>
                                </div>
                            </div>
                            <div class="col-sm-4 abs-center">
                                <img class="qr-address" src="../static/img/qrAdress.png" alt=""></img>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Transactions -->
                <div class="transactions-details">
                    <div class="summary">
                        <div class="row">
                            <div class="col align-items-start">
                                <h3>Transactions</h3>
                            </div>
                            <!-- Transaction Navigator -->
                            <div class="col-auto align-items-end">
                                <div class="row">
                                    <div class="col-auto">
                                        <button class="btn addr-active-btn">
                                            <span>All</span>
                                        </button>
                                    </div>
                                    <div class="col-auto">
                                        <button class="btn addr-disabled-btn">
                                            <span>Inputs</span>
                                        </button>
                                    </div>
                                    <div class="col-auto">
                                        <button class="btn addr-disabled-btn">
                                            <span>Outputs</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="transactions-info">
                            <!-- Transaction Header -->
                            <div class="row tx-title">
                                <div class="col"><b>Hash</b></div>
                                <div class="col"><b>Mined Date</b></div>
                            </div>
                            <div class="row">
                                <div class="col contain-text">
                                    <b>4b65dd1d10edc9b1def29fc4ceb66e8f117e91f60cb7312e760e596c6019bd7b</b>
                                </div>
                                <div class="col"><span>Tue, 26 Nov 2019 16:44:19</span></div>
                            </div>

                            <!-- Transaction Addresses -->
                            <div class="transaction-addresses">
                                <div class="row">
                                    <div class="col-md-5">
                                        <b>Input Address</b>
                                        <div class="info-address contain-text">
                                            <span class="align-left"> PE4ZRXbL2aKZ8VBk3f5Uqy1Mk2Sq6QoSHy</span>
                                            <span class="align-right">1,037.44 POLIS</span>
                                        </div>
                                    </div>
                                    <div class="col-md-2 abs-center">
                                        <span class="tx-indicator-green FA-icon-regular-lg">chevron-right</span>
                                    </div>
                                    <div class="col-md-5">
                                        <b>Unparsed Address</b>
                                        <div class="info-address contain-text">
                                            <div class="address-separator">
                                                <span class="align-left"> PE4ZRXbL2aKZ8VBk3f5Uqy1Mk2Sq6QoSHy</span>
                                                <span class="align-right">1,037.44 POLIS
                                                    <span
                                                        class="FA-icon-regular tx-indicator-green align-right">times</span>
                                                </span>
                                            </div>
                                            <div class="address-separator">
                                                <span class="align-left"> PE4ZRXbL2aKZ8VBk3f5Uqy1Mk2Sq6QoSHy</span>
                                                <span class="align-right">1,037.54 POLIS
                                                    <span
                                                        class="tx-indicator-green FA-icon-regular align-right">times</span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Transaction Status -->
                            <div class="transaction-status">
                                <div class="row">
                                    <div class="col-xs-6 col-sm-4 col-md-4">
                                        <button class="btn btn-tx tx-fee">Fee: 0 POLIS</button>
                                    </div>
                                    <div class="col-xs-6 col-sm-8 col-md-8 text-right">
                                        <button class="btn btn-tx tx-confirmations">674 Confirmations</button>
                                        <button class="btn btn-tx tx-total-amount">1,051.84 POLIS</button> </div>
                                </div>
                            </div>
                        </div>
                    </div>
        </section>
    </main>
    <div class="main-footer-separator"></div>
    <!-- Footer -->
    <footer class="footer">
        <div class="container">
            <div class="abs-center">
                <img class="footer-img" src="../static/img/kindynos.png" alt="Kindynos" />
            </div>
        </div>
    </footer>

    <!-- Scripts -->
    <script type="text/javascript">
        $(document).ready(function () {
            $('#table_id').DataTable({
                "paging": false,
                "responsive": true,
                "info": false,
                "bFilter": false,
                "order": [[0, 'desc']]
            });
        });
    </script>
</body>

</html>