<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">

    <title>Tx b28eb41ad33b9c2536679c621232ea370074dd9cf50a8250670a1f813e86d49a</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="shortcut icon" href="../static/img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="../static/img/favicon.ico" type="image/x-icon">
    <!-- DataTables // Jquery // Bootstrap -->
    <link rel="stylesheet" type="text/css"
        href="https://cdn.datatables.net/v/bs4-4.1.1/jq-3.3.1/dt-1.10.20/r-2.2.3/datatables.min.css" />
    <script type="text/javascript"
        src="https://cdn.datatables.net/v/bs4-4.1.1/jq-3.3.1/dt-1.10.20/r-2.2.3/datatables.min.js"></script>
    <!-- Styles -->
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="stylesheet" href="../static/css/navbar.css">
    <link rel="stylesheet" href="../static/css/dashboard.css">
    <link rel="stylesheet" href="../static/css/home.css">
    <link rel="stylesheet" href="../static/css/footer.css">
    <!-- Page Styles -->
    <link rel="stylesheet" href="../static/css/blocks.css">
    <link rel="stylesheet" href="../static/css/block.css">
    <link rel="stylesheet" href="../static/css/transaction.css">
</head>

<body>
    <!-- Header -->
    <header>
        <!-- Navbar -->
        <nav class="navbar sticky-top navbar-expand-lg navbar-dark">
            <a class="navbar-brand" href="/">
                <img src="../static/img/logo.png" alt="Olympus" />
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarToggler">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/blocks">Blocks</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search"
                        placeholder="Search for block, transaction or address" aria-label="Search" />
                    <button class="btn btn-outline-search my-2 my-sm-0">
                        <span class="FA-icon-regular">search</span>
                    </button>
                </form>
            </div>
        </nav>
    </header>
    <!-- Main -->
    <main>
        <section class="page-section">
            <!-- TX Information -->
            <div class="block-basic-info">
                <h3>Transaction</h3>
                <div class="tx-hash">
                    <p class="contain-text">b28eb41ad33b9c2536679c621232ea370074dd9cf50a8250670a1f813e86d49a</p>
                    <span class="FA-icon-regular">clipboard</span>
                </div>
                <div class="tx-information">
                    <!-- Summary -->
                    <div class="summary">
                        <div class="row">
                            <div class="col align-items-start">
                                <h3>Summary</h3>
                            </div>
                        </div>
                        <!-- Summary Table -->
                        <div class="row summary-table">
                            <div class="col">
                                <div class="row info-row">
                                    <div class="col">Mined Time</div>
                                    <div class="col summary-data">Tue, 26 Nov 2019 16:44:19</div>
                                </div>
                                <div class="row info-row">
                                    <div class="col">In Block</div>
                                    <div class="col summary-data contain-text">
                                        0468a1785947419a72d080a7d6611a8a8ad24b0c90f5ae9d4da2adac6528a5c1</div>
                                </div>
                                <div class="row info-row">
                                    <div class="col">Block Height</div>
                                    <div class="col summary-data">484,911</div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="row info-row">
                                    <div class="col">Total Input</div>
                                    <div class="col summary-data">1,037.44 POLIS</div>
                                </div>
                                <div class="row info-row">
                                    <div class="col">Total Output</div>
                                    <div class="col summary-data">
                                        1,051.84 POLIS</div>
                                </div>
                                <div class="row info-row">
                                    <div class="col">Fees</div>
                                    <div class="col summary-data">0 POLIS</div>
                                </div>
                            </div>
                        </div>
                        <!-- Transaction Details -->
                        <div class="transactions-details">
                            <h3>Details</h3>
                            <div class="transactions-info">
                                <!-- Transaction Header -->
                                <div class="row tx-title">
                                    <div class="col"><b>Hash</b></div>
                                    <div class="col"><b>Mined Date</b></div>
                                </div>
                                <div class="row">
                                    <div class="col contain-text">
                                        <b>4b65dd1d10edc9b1def29fc4ceb66e8f117e91f60cb7312e760e596c6019bd7b</b>
                                    </div>
                                    <div class="col"><span>Tue, 26 Nov 2019 16:44:19</span></div>
                                </div>

                                <!-- Transaction Addresses -->
                                <div class="transaction-addresses">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <b>Input Address</b>
                                            <div class="info-address contain-text">
                                                <span class="align-left"> PE4ZRXbL2aKZ8VBk3f5Uqy1Mk2Sq6QoSHy</span>
                                                <span class="align-right">1,037.44 POLIS</span>
                                            </div>
                                        </div>
                                        <div class="col-md-2 abs-center">
                                            <span style="color: green" class="FA-icon-regular-lg">chevron-right</span>
                                        </div>
                                        <div class="col-md-5">
                                            <b>Unparsed Address</b>
                                            <div class="info-address contain-text">
                                                <div class="address-separator">
                                                    <span class="align-left"> PE4ZRXbL2aKZ8VBk3f5Uqy1Mk2Sq6QoSHy</span>
                                                    <span class="align-right">1,037.44 POLIS
                                                        <span style="color: green"
                                                            class="FA-icon-regular align-right">times</span>
                                                    </span>
                                                </div>
                                                <div class="address-separator">
                                                    <span class="align-left"> PE4ZRXbL2aKZ8VBk3f5Uqy1Mk2Sq6QoSHy</span>
                                                    <span class="align-right">1,037.54 POLIS
                                                        <span style="color: green"
                                                            class="FA-icon-regular align-right">times</span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Transaction Status -->
                                <div class="transaction-status">
                                    <div class="row">
                                        <div class="col-xs-6 col-sm-4 col-md-4">
                                            <button class="btn btn-tx tx-fee">Fee: 0 POLIS</button>
                                        </div>
                                        <div class="col-xs-6 col-sm-8 col-md-8 text-right">
                                            <button class="btn btn-tx tx-confirmations">674 Confirmations</button>
                                            <button class="btn btn-tx tx-total-amount">1,051.84 POLIS</button> </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h3>Raw Transaction</h3>
                    <div class="raw-transaction" style="word-wrap: break-word; font-size: smaller;">
                        <pre>
                            {
                                    <span class="key">"hex":</span> <span class="string">"03000500010000000000000000000000000000000000000000000000000000000000000000ffffffff0603367e070101ffffffff0100000000000000000000000000260100367e070018633c02f05c946b5f6bff81cc3bbf6067c94d3f70efbd0c8fb02986754a3eea"</span>,
                                    <span class="key">"txid":</span> <span class="string">"5ad7823dd011aa51b43b3f40cafeec57a37d19897337eb20b5944ffbc38daf46"</span>,
                                    <span class="key">"size":</span> <span class="number">105</span>,
                                    <span class="key">"version":</span> <span class="number">3</span>,
                                    <span class="key">"type":</span> <span class="number">5</span>,
                                    <span class="key">"locktime":</span> <span class="number">0</span>,
                                    <span class="key">"vin":</span> [
                                      {
                                        <span class="key">"coinbase":</span> <span class="string">"03367e070101"</span>,
                                        <span class="key">"sequence":</span> <span class="number">4294967295</span>
                                      }
                                    ],
                                    <span class="key">"vout":</span> [
                                      {
                                        <span class="key">"value":</span> <span class="number">0</span>,
                                        <span class="key">"valueSat":</span> <span class="number">0</span>,
                                        <span class="key">"n":</span> <span class="number">0</span>,
                                        <span class="key">"scriptPubKey":</span> {
                                          <span class="key">"asm":</span> <span class="string">""</span>,
                                          <span class="key">"hex":</span> <span class="string">""</span>,
                                          <span class="key">"type":</span> <span class="string">"nonstandard"</span>
                                        }
                                      }
                                    ],
                                    <span class="key">"extraPayloadSize":</span> <span class="number">38</span>,
                                    <span class="key">"extraPayload":</span> <span class="string">"0100367e070018633c02f05c946b5f6bff81cc3bbf6067c94d3f70efbd0c8fb02986754a3eea"</span>,
                                    <span class="key">"cbTx":</span> {
                                      <span class="key">"version":</span> <span class="number">1</span>,
                                      <span class="key">"height":</span> <span class="number">491062</span>,
                                      <span class="key">"merkleRootMNList":</span> <span class="string">"ea3e4a758629b08f0cbdef703f4dc96760bf3bcc81ff6b5f6b945cf0023c6318"</span>
                                    },
                                    <span class="key">"blockhash":</span> <span class="string">"10efc26c7e0f268653900c050d380969594d60e5fe4cbb509eae7920688fb42a"</span>,
                                    <span class="key">"height":</span> <span class="number">491062</span>,
                                    <span class="key">"confirmations":</span> <span class="number">64</span>,
                                    <span class="key">"time":</span> <span class="number">1575562248</span>,
                                    <span class="key">"blocktime":</span> <span class="number">1575562248</span>,
                                    <span class="key">"instantlock":</span> <span class="boolean">false</span>
                                  }
                                </pre>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <div class="main-footer-separator"></div>
    <!-- Footer -->
    <footer class="footer">
        <div class="container">
            <div class="abs-center">
                <img class="footer-img" src="../static/img/kindynos.png" alt="Kindynos" />
            </div>
        </div>
    </footer>


</body>

</html>